# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### **Objectives:**
- List popular languages for data science
- Exemplify data science libraries
- Show arithmetic expressions using Python

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
### Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. Pandas

|Data Science Tools|
|-------------|
|Jupyter Notebook|
|Apache Spark|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [15]:
# This a simple arithmetic expression to multiply then add integers:
(3*4)+5

17

In [16]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Kyra